<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="Premotion MyGet package source" value="http://www.myget.org/F/premotion/" />
		<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
	</packageSources>
</configuration>